<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for msg in messages %}
                <li>{{ msg }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <h1>Heeey you! {% if name %}{{ name }}{% endif %}</h1>
</body>
</html>